@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

:root{
    --primary:#5E17EB;
    --dark-color:#2f0a78;
    --black:#444;
    --light-color:#666;
    --border:.1rem solid rgba(0,0,0,.1);
    --border-hover:.1rem solid var(--black);
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
}

*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition:all .2s linear;
    transition:width none;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width:1rem;
}

html::-webkit-scrollbar-track{
    background:transparent;
}

html::-webkit-scrollbar-thumb{
    background:var(--black);
}

section{
    padding:5rem 9%;
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    padding: .8rem 3rem;
    font-size: 1.7rem;
    border-radius: .5rem;
    border: .2rem solid var(--primary);
    color: var(--black);
    cursor: pointer;
    background: none;
}

.btn:hover{
    background: var(--primary);
    color: #fff;
}

.header .header-1{
    background:#fff;
    padding:1.5rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .header-1 .logo{
    font-size: 2.5rem;
    font-weight: bolder;
    color:var(--black);
}

.header .header-1 .logo span{
    color:var(--primary);
}

.header .header-1 .icons a{
    font-size: 2.5rem;
    margin-left: 1.5rem;
    color:var(--black);
    cursor: pointer;
}

.header .header-1 .icons a:hover{
    color:var(--primary);
}

.header .header-2{
    background:var(--primary);
}

.header .header-2 .navbar{
    text-align: center;
}

.header .header-2 .navbar a{
    color:#fff;
    display: inline-block;
    padding:1.2rem;
    font-size: 1.7rem;
}

.header .header-2 .navbar a:hover{
    background:var(--dark-color);
}

.header .header-2.active{
    position:fixed;
    top:0; left:0; right:0;
    z-index: 1000;
}

.bottom-navbar{
    text-align: center;
    background:var(--primary);
    position: fixed;
    bottom:0; left:0; right:0;
    z-index: 1000;
    display: none;
}

.bottom-navbar a{
    font-size: 2.5rem;
    padding:2rem;
    color:#fff;
}

.bottom-navbar a:hover{
    background:var(--dark-color);
}

.heading{
    text-align: center;
    padding: 2rem 0;
    padding-bottom: 3.5rem;
    font-size: 3rem;
    color: var(--dark);
}

.heading span{
    background: var(--primary);
    color: #fff;
    display: inline-block;
    padding: .5rem 3rem;
    clip-path: polygon(100% 0, 93% 50%, 100% 99%, 0% 100%, 7% 50%, 0% 0%);
}

.first-heading {
    font-size: 3rem;
    opacity: 0.94;
    text-align: center;
}

.text {
    text-align: center;
    font-size: 3rem;
}

.products{
    height: 90vh;
    background-image: url(./IMG/wave\ \(1\).svg);
    background-repeat: no-repeat;
    background-position: bottom;
    width: 100%;

}

.products .product-slider{
    padding: 1rem;
}

.products .product-slider:first-child{
    margin-bottom: 2rem;
}

.products .product-slider .box{
    background: #fff;
    border-radius: .5rem;
    text-align: center;
    padding: 3rem 2rem;
    outline-offset: -1rem;
    box-shadow: var(--box-shadow);
    transition: .2s linear;
}

.products .product-slider .box img{
    height: 20rem;
    border: var(--border);
    box-shadow: var(--box-shadow);
}

.products .product-slider .box h3{
    font-size: 2.5rem;
    color: var(--dark);
}

.products .product-slider .box .price{
    font-size: 2rem;
    color: var(--light-color);
    padding: .5rem 0;
}

.products .product-slider .box .stars i{
    font-size: 1.7rem;
    color: var(--primary);
    padding: .5rem 0;
}

.deal{
    background:#f3f3f3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    height: 92vh;
}

.deal .content {
    width: 40rem;
}

.deal .image {
    width: 60rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.deal .image img{
    width: 75%;
}

.deal .content h3{
    color:var(--primary);
    font-size: 2.5rem;
    padding-bottom: .5rem;
}

.deal .content h1{
    color:var(--black);
    font-size: 4rem;
}

.deal .content p{
    padding:1rem 0;
    color:var(--light-color);
    font-size: 1.4rem;
    line-height: 2;
}

.footer{
    width: 100%;
    padding: 0%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    margin-top: .5rem;
    border-top: var(--border);
    padding: 2rem;
}

.footer .mail p a{
    color: var(--light-color);
    text-decoration: none;
    font-size: 1.5rem;
    text-align: center;
    text-transform: none;
}

.footer .mail p a:hover{
    color: var(--primary);
}

.footer .credit{
    font-size: 1.5rem;
    color:var(--light-color);
    text-align: center;
}

.footer .credit span{
    color:var(--primary);
}

@media (max-width:991px){

    html{
        font-size: 55%;
    }

    .header .header-1{
        padding:2rem;
    }

    section{
        padding:3rem 1rem;
    }
    .products{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
    }

    .deal .content {
        padding-left: 2rem;
    }
}

@media (max-width:768px){

    html{
        scroll-padding-top: 0;
    }

    body{
        padding-bottom: 6rem;
    }

    .header .header-2{
        display:none;
    }

    .bottom-navbar{
        display: block;
    }

    #search-btn{
        display: inline-block;
    }

    .header .header-1{
        box-shadow: var(--box-shadow);
        position: relative;
    }

    .header .header-1 .search-form{
        position:absolute;
        top:-115%; right:2rem;
        width: 90%;
        box-shadow: var(--box-shadow);
    }

    .header .header-1 .search-form.active{
        top:115%;
    }

    .products{
    background: none;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    }

    .products .product-slider .box img{
        width:100%;
        height:65%;
    }

    .deal{
        background:#f3f3f3;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        height: 95vh;
    }

    .deal .content {
        width: 90%;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding-left: 0;
    }
    
    .deal .image {
        width: 90%;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .deal .content h3{
        font-size: 2rem;
        padding-bottom: .2rem;
    }
    
    .deal .content h1{
        color:var(--black);
        font-size: 3.5rem;
    }
    
    .deal .content p{
        padding: 0;
        color:var(--light-color);
        font-size: 1.4rem;
        line-height: 2;
        text-align: center;
    }
}

@media (max-width:450px){

    html{
        font-size: 50%;
    }
}

@media (max-width:340px){
    .header .header-1 .logo{
        font-size: 2.2rem;
    }
    
    .first-heading{
        font-size: 2.5rem;
    }
    
    .text {
        font-size: 2.5rem;
    }
    
    .heading{
        font-size: 2.6rem;
    }
    
    .products .product-slider .box img{
        width: 100%;
    }
}